<div class="container">
  <h3 class="title-option">Administrar Habitaciones</h3>
  <h4 class="subtitle-option">Modificar</h4>
  <form [formGroup]="formEditRoom" (ngSubmit)="searchRoom()" class="formCreateUser">
    <div class="flex-form">
      <label class="text-form" for="idRoom">Tipo Habitación:</label>
      <select class="label-form" id="idRoom" formControlName="idRoom">
        <option value="1">Estandar</option>
        <option value="2">Estandar Familiar</option>
        <option value="3">Queen Estandar</option>
        <option value="4">Queen Familiar</option>
        <option value="5">King Estandar</option>
        <option value="6">King Familiar</option>
      </select>
    </div>
    <div class="flex-form">
      <label class="text-form" for="capacity">Capacidad:</label>
      <input class="label-form" type="number" id="capacity" formControlName="capacity">
    </div>
    <div class="flex-form">
      <label class="text-form" for="price">Precio:</label>
      <input class="label-form" type="number" id="price" formControlName="price">
    </div>
    <div class="flex-form">
      <label class="text-form" for="tax">Impuesto:</label>
      <input class="label-form" type="number" id="tax" formControlName="tax">
    </div>
    <div class="flex-form">
      <label class="text-form" for="state">Estado Habitacion:</label>
      <select class="label-form" id="state" formControlName="state">
        <option value="Activo">Activo</option>
        <option value="Inactivo">Inactivo</option>
      </select>
    </div>
    <div class="btn-flex">
      <button type="submit" class="cta">Buscar</button>
      <button (click)="updateRoom()" *ngIf="showList" class="cta" type="button">Enviar</button>
    </div>
  </form>
</div>
