<div class="container">
  <h3 class="title-option">Encuenra Tu Hotel</h3>
  <h4 class="subtitle-option">Buscar</h4>
  <form [formGroup]="formSearchHotel" (ngSubmit)="guardarRespuestas()" class="formCreateUser">
    <div class="flex-form">
      <label class="text-form" for="dateIn">Fecha Ida</label>
      <input class="label-form" type="date" id="dateIn" formControlName="dateIn">
    </div>
    <div class="flex-form">
      <label class="text-form" for="dateOut">Fecha Vuelta:</label>
      <input class="label-form" type="date" id="dateOut" formControlName="dateOut">
    </div>
    <div class="flex-form">
      <label class="text-form" for="numPersons">Numero Personas:</label>
      <input class="label-form" type="number" id="numPersons" formControlName="numPersons">
    </div>
    <div class="flex-form">
      <label class="text-form" for="city">Ciudad:</label>
      <input class="label-form" type="text" id="city" formControlName="city">
    </div>
    <div class="btn-flex-s">
      <button type="submit" class="cta">Guardar</button>
    </div>
  </form>
  <div class="cuadrado" *ngIf="showlist">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Habitaciones Disponibles</th>
          <th>Telefono</th>
          <th>Ubicacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="showlist">
        <tr *ngFor="let hotel of filteredHotels">
          <td>{{ hotel.name }}</td>
          <td>{{ hotel.rooms }}</td>
          <td>{{ hotel.movil }}</td>
          <td>{{ hotel.location }}</td>
          <td><button (click)="showMore(hotel.id)" class="btn">Ver</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
