.flex-form-search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ctaS{
  font-size: 1em;
  border-radius: 50%;
  border: 0.5px solid #0d1470;
  color: #ecece8;
  background-color: #292928;
  cursor: pointer;
  padding: 4px 6px;
}

.ctaSearch:hover{
  color: #f8ebca;
}
