<div class="container">
  <h3 class="title-option">Reservas</h3>
  <h4 class="subtitle-option">Lista</h4>
  <div class="cuadrado">
    <table>
      <thead>
        <tr>
          <th>Num. Reserva</th>
          <th>Id. Usuario</th>
          <th>Hotel</th>
          <th>Fecha Llegada</th>
          <th>Fecha Salida</th>
          <th>Ubicacion</th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="reserves">
        <tr *ngFor="let reserve of reserves">
          <td>{{ reserve.id }}</td>
          <td>{{ userName(reserve.idUser) }}</td>
          <td>{{ hotelName(reserve.hotel) }}</td>
          <td>{{ reserve.dateIn }}</td>
          <td>{{ reserve.dateOut }}</td>
          <td>{{ hotelLocation(reserve.hotel) }}</td>
          <td><button (click)="showMore(reserve.id)" class="btn">Ver</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
