<div class="container">
  <h3 class="title-option">Hoteles</h3>
  <h4 class="subtitle-option">Lista</h4>
  <div class="cuadrado">
    <table>
      <thead>
        <tr>
          <th>Cedula</th>
          <th>Celular</th>
          <th>Nombre</th>
          <th>Habitaciones</th>
          <th>Ubicacion</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <!-- Repite este bloque para cada persona en la lista -->
        <tr *ngFor="let client of clients">
          <td>{{ client.id }}</td>
          <td>{{ client.carId }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.type }}</td>
          <td>{{ client.date }}</td>
          <td><button (click)="aceptarPersona(client.id)" class="btn">Aceptar</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
